
:root {
    --wall-clr: rgb(12, 53, 71);
    --visited-clr: rgba(0, 190, 218, 0.75);
    --path-clr: rgb(255, 254, 106);
    --text-light: #515067;
    --clr-navy: #0c3547;
    --light-line: #ddd;
    --primary-clr: #007bff;
}

span.carret {
    display: inline-block;
    aspect-ratio: 1;
    width: 12px;
    background: url('../assets/icon/caret-down.svg') no-repeat center;
    background-size: contain;
    margin-left: 4px;
}

.wall {
    background-color: var(--wall-clr);
    animation: wallAnimation 0.5s ease-out forwards;
}

.unvisited {
    background-color: white;
    border: 1px solid var(--light-line);
}

.visited {
    background-color: var(--visited-clr);
    animation: visitedAnimation 1s ease-out forwards;
}

.path {
    background-color: var(--path-clr);
    animation: pathAnimation 1s ease-out forwards;
}

.btn {
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: var(--primary-clr);
    color: white;
    font-weight: 600;
    transition: 0.1s ease-in-out;
}

.btn:hover {
    background-color: #0056b3; /* Darker blue for hover effect */
}

.source, .target {
    background: no-repeat center;
    background-size: contain;
}

.source {
    background-image: url('../assets/icon/source.svg');
}

.target {
    background-image: url('../assets/icon/target.svg');
}

.icon {
    aspect-ratio: 1;
    width: 20px;
}